/* header para html com bootstrap*/
body {
    background: rgb(235, 250, 249);
}
header {
    background: white;
    padding: 20px 0 30px 0;
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 8px;
    border-bottom: 2px solid lightgray;
    outline: 1px solid lightgray;
}

@media (max-width: 768px) {
    header {
        padding: 20px 0 20px 0;;
    }
}

.caixa {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

header a {
    text-decoration: none !important;
}


h1 {
    font-family: "Times New Roman", Times, serif;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 32px;
    color: rgb(96, 214, 214);
    position: relative;
    top: 6px;
    right:0.4px;
    margin-left: 8px;
}

@media (max-width: 768px) {
    h1 {
        width: 60%;
        right: 0;
        margin: 0 0px 0 15px;
    }
}

.icone {
    height: 50px;
}

@media (max-width: 768px) {
    .icone {
        height: 65px;;
        margin-top: 12px;
    }
}

@media (max-width: 768px) {
    .caixa-logo {
        display: flex;
        width: 100%;
        margin: 0 0 0 0;
        align-items: center;
        justify-content: center;
    }
}

nav ul {
    display: inline-block;
    position: absolute;
    margin-right: 100px;
    right: 0;
    top: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    color: rgb(131, 131, 131);
    margin-top: 10px;
}

@media (max-width: 768px) {
    nav ul {
        display: flex;
        position: relative;
        margin: 20px auto 0 auto;
        justify-content: center;

    }
}

nav li {
    display: inline;
    margin-right: 30px;
    padding: 5px;
    border: 2px solid rgb(96, 214, 214);
}



nav a {
    color: rgb(131, 131, 131);
}

li a:hover {
    color: rgb(2, 207, 207);
}

