/* header para html sem bootstrap*/

body {
    background: rgb(235, 250, 249);
}
header {
    background: white;
    padding: 20px 0 0 0;
    border-bottom: 2px solid lightgray;
    outline: 1px solid lightgray;
}

.caixa {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

header a {
    text-decoration: none;
}


h1 {
    font-family: "Times New Roman", Times, serif;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-weight: lighter;
    color: rgb(96, 214, 214);
    position: relative;
    bottom: 12px;
    margin-left: 8px;
}

.icone {
    height: 50px;
}

nav ul {
    display: inline-block;
    position: absolute;
    margin-right: 100px;
    margin-top: 14px !important;
    right: 0;
    top: 0;
    font-size: 22px;
    color: rgb(131, 131, 131);
    margin-top: 10px;
}

nav li {
    display: inline;
    margin-right: 30px;
    text-decoration: none;
    padding: 5px;
    border: 2px solid rgb(96, 214, 214);
}

nav a {
    color: rgb(131, 131, 131);
}

li a:hover {
    color: rgb(2, 207, 207);
}

.texto-bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 42%;
    vertical-align: middle;
    display: inline-block;
    margin: 105px 0px 0 180px;
    padding: 0 20px 0 20px;
    Color: rgb(131, 131, 131);
    border: 2px solid rgb(96, 214, 214);
}

@media (max-width: 768px) {
    .texto-bio {
        margin: 50px auto 0 auto;
        width: 85%;
    }
}

#intro-bio {
    font-weight: bold;
    font-style: italic;
}

#foto-bio {
    border-radius: 50%;
    width: 520px;
    margin-left: 200px;
    margin-top: 130px;
    float: left;
}

@media (max-width: 768px) {
    #foto-bio {
        border-radius: 50%;
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 130px auto auto auto;
    }
}

@media (max-width: 768px) {
    .formato-celular {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    position: relative;
    width: 44.55%;
    color: rgb(131, 131, 131);
    margin: 20px 435px 0 0;
    left: 178px;
    
}

@media (max-width: 768px) {
    .table {
        margin: 20px auto 0 auto;
        left: 0;
        width: 98%;
    }
}

.table tr {
    padding: 4px;
    background-color: rgb(217, 240, 236);
}

.table .table-heading {
    background-color: rgb(96, 214, 214);
}

#copyright {
    background: rgb(217, 240, 236);
    display: flex;
    flex-direction: row;
    margin: 51px 0 0 0;
    padding: 12px 0 0 0;
    width: 100%;
    bottom: 0%;
}

@media (max-width: 768px) {
    #copyright {
        margin: 40px 0 0 0;
    }
}

.copyright-texto {
    color: rgb(105, 105, 105);
    margin-left: 30%;
}


