/* header para html com bootstrap*/
body {
    background: rgb(235, 250, 249);

}
header {
    background: white;
    padding: 20px 0 30px 0;
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 8px;
    border-bottom: 2px solid lightgray;
    outline: 1px solid lightgray;
}

@media (max-width: 1100px) {
    header {
        padding: 20px 0 20px 0;;
    }
}

.caixa {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

header a {
    text-decoration: none !important;
}


h1 {
    font-family: "Times New Roman", Times, serif;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 32px;
    color: rgb(96, 214, 214);
    position: relative;
    top: 6px;
    right:0.4px;
    margin-left: 8px;
}

@media (max-width: 1100px) {
    h1 {
        width: 60%;
        right: 0;
        margin: 0 0px 0 15px;
    }
}

.icone {
    height: 50px;
}

@media (max-width: 1100px) {
    .icone {
        height: 65px;;
        margin-top: 12px;
    }
}

@media (max-width: 1100px) {
    .caixa-logo {
        display: flex;
        width: 100%;
        margin: 0 0 0 0;
        align-items: center;
        justify-content: center;
    }
}

nav ul {
    display: inline-block;
    position: absolute;
    margin-right: 100px;
    right: 0;
    top: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    color: rgb(131, 131, 131);
    margin-top: 10px;
}

@media (max-width: 1100px) {
    nav ul {
        display: flex;
        position: relative;
        margin: 20px auto 0 auto;
        justify-content: center;

    }
}

nav li {
    display: inline;
    margin-right: 30px;
    padding: 5px;
    border: 2px solid rgb(96, 214, 214);
}



nav a {
    color: rgb(131, 131, 131);
}

li a:hover {
    color: rgb(2, 207, 207);
}



.texto-bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 44.28%;
    vertical-align: middle;
    display: inline-block;
    margin: 3.6% 0px 0 180px;
    padding: 10px 20px 0 20px;
    Color: rgb(131, 131, 131);
    border: 2px solid rgb(96, 214, 214);
    line-height: 22px;
}

@media (max-width: 1100px) {
    .texto-bio {
        margin: 50px auto 0 auto;
        width: 90%;
    }
}

#intro-bio {
    font-weight: bold;
    font-style: italic;
}

#foto-bio {
    border-radius: 50%;
    width: 580px;
    margin-left: 200px;
    margin-top: 5.8%;
    float: left;
}

@media (max-width: 768px) {
    #foto-bio {
        border-radius: 50%;
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 130px auto auto auto;
    }
}

@media (max-width: 1100px) {
    .formato-celular {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    position: relative;
    width: 44.55%;
    color: rgb(131, 131, 131);
    margin: 20px 435px 0 0;
    left: 178px;
    border-collapse: separate;
    
}

@media (max-width: 1100px) {
    .table {
        margin: 20px auto 0 auto;
        left: 0;
        width: 91.1%;
    }
}

.table tr {
    padding: 4px;
    background-color: rgb(217, 240, 236);
}

.table .centralizado {
    text-align: center;
    vertical-align: middle;
}

.table .table-heading {
    background-color: rgb(96, 214, 214);
}

.table thead th, .table tbody th, .table tbody td,.table tbody td {
    border: none;
    
}

.table td, .table th {
    padding: 5px;
}

#copyright {
    background: rgb(217, 240, 236);
    display: flex;
    flex-direction: row;
    margin: 40px 0 0 0;
    width: 100%;
    padding: 12px 0 0 0;
    bottom: 8%;
}

@media (max-width: 768px) {
    #copyright {
        margin: 20px 0 0 0;
    }
}

.copyright-texto {
    color: rgb(105, 105, 105);
    margin-left: 30%;
}


